name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GHTOKEN }}
          
          repositories_affiliations: collaborator
          config_timezone: Asia/Shanghai
          
          config_display: large
          extras_css: |
            h2 {
                padding-top: 20px;
                border-top: 1px #AAA8 solid;
            }
          
          plugin_activity: yes
          plugin_calendar: yes
          plugin_discussions: yes
          plugin_followup: yes
          plugin_gists: yes
          plugin_habits: yes
          
          plugin_languages: yes
          plugin_languages_details: bytes-size, lines
          plugin_languages_indepth: yes
          plugin_languages_sections: most-used, recently-used
          plugin_languages_limit: 0
          plugin_languages_aliases: RenderScript:Rust
          
          plugin_lines: yes
          plugin_people: yes
          plugin_projects: yes
          plugin_reactions: yes
          plugin_stars: yes
          plugin_topics: yes
          plugin_traffic: yes
          
          plugin_wakatime: yes
          plugin_wakatime_token: ${{ secrets.WAKATIME_TOKEN }}
          
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GHTOKEN }}
          
          repositories_affiliations: collaborator
          config_timezone: Asia/Shanghai
          
          config_display: regular
          filename: github-metrics-small.svg
          extras_css: |
            h2 {
                padding-top: 20px;
                border-top: 1px #AAA8 solid;
            }
          
          plugin_activity: yes
          plugin_calendar: yes
          plugin_discussions: yes
          plugin_followup: yes
          plugin_gists: yes
          plugin_habits: yes
          
          plugin_languages: yes
          plugin_languages_details: bytes-size, lines
          plugin_languages_indepth: yes
          plugin_languages_sections: most-used, recently-used
          plugin_languages_limit: 0
          plugin_languages_aliases: RenderScript:Rust
          
          plugin_lines: yes
          plugin_people: yes
          plugin_projects: yes
          plugin_reactions: yes
          plugin_stars: yes
          plugin_topics: yes
          plugin_traffic: yes
          
          plugin_wakatime: yes
          plugin_wakatime_token: ${{ secrets.WAKATIME_TOKEN }}
          
